<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDisplayName</key>
  <string>拾句</string>
  <key>CFBundleExecutable</key>
  <string>RealTimeTranscript</string>
  <key>CFBundleIconFile</key>
  <string>拾句</string>
  <key>CFBundleIdentifier</key>
  <string>com.lemon5227.realtimetranscript</string>
  <key>CFBundleName</key>
  <string>拾句</string>
  <key>CFBundlePackageType</key>
  <string>APPL</string>
  <key>CFBundleShortVersionString</key>
  <string>__VERSION__</string>
  <key>CFBundleVersion</key>
  <string>__VERSION__</string>
</dict>
</plist>
